@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using System.Web
@using improweb2022_02.Models;
@using Microsoft.AspNetCore.Http.Extensions

<div id="content" class="container">
    <div class="row">
     <!-- #region BreadCrump -->
     <div class="breadcrumb-container d-none d-md-flex flex-wrap align-items-center mb-4 border_">
      <ol class="breadcrumb mb-0 border_" itemscope="" itemtype="http://schema.org/BreadcrumbList">
       <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a asp-controller="home" asp-action="index" title="Top" itemprop="item">
         <meta itemprop="name" content="Home page" />
         <meta itemprop="position" content="1" />
         <i class="fa fa-home"></i>
        </a>
       </li>
       <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="#" title="Sports" itemprop="item"> <meta itemprop="position" content="2" /><span itemprop="name" dir="auto">Products</span> </a>
       </li>
       <!--li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a href="#" title="Soccer" itemprop="item"> <meta itemprop="position" content="3" /><span itemprop="name" dir="auto">CategoryGroupA</span> </a>
       </li-->
      </ol>
      <div class="breadcrumb-item active border_">
       <span>Product Detail</span>
      </div>
     </div>
     <!-- #endregion -->
    </div>
    <div id="content-body" class="row">
     <!-- #region Product Detail -->
     <div id="content-center" class="col-lg-12 border_">
      <div class="page product-details-page border_" itemscope="" itemtype="http://schema.org/Product">
       <article class="pd page-body">
        <div id="main-update-container" class="update-container border_" data-url="/product/updateproductdetails?productId=10&amp;bundleItemId=0">
         <form asp-controller="cart" asp-action="buy" asp-route-id="@ViewBag.Product.ProdID" method="post" novalidate="novalidate">
          <!-- Top Content: Picture, Description, Attrs, Variants, Bundle Items, Price etc. -->
          <section class="row pd-section pd-section-top">
           <!-- Picture -->
           <div class="col-12 col-md-6 col-lg-7 pd-data-col border_">
            <div id="pd-gallery-container border_">
             <div id="pd-gallery-container-inner">
              <div id="pd-gallery" class="mb-3">
               <div class="gal-box border_">

                <!-- Thumbnail navigation -->
                <div class="gal-nav-cell border_">
                 <div class="gal-nav">
                    @{
                        var photoNamex = "~/products/NoPic.jpg";
                        if(ViewBag.FeaturedPhoto.ToString().Length > 4){
                            try{
                                int iSplit = ViewBag.FeaturedPhoto.ToString().LastIndexOf("/");
                                if (iSplit > 0){
                                    string url = ViewBag.FeaturedPhoto.ToString().Substring(0, iSplit + 1);
                                    string file = ViewBag.FeaturedPhoto.ToString().Substring(iSplit + 1, ViewBag.FeaturedPhoto.ToString().Length - iSplit - 1);
                                    photoNamex = url + "Big_" + file;
                                }
                            }catch(Exception){
                                throw "There is a error in GetBigProductImage the url is: " + ViewBag.FeaturedPhoto.ToString();
                            }
                        }else{
                            photoNamex = "/products/NoPic.jpg";
                        }
                    }
                    <div class="gal-item">
                     <a class="gal-item-viewport" itemprop="contentUrl" href="@photoNamex" data-type="image" data-width="1200" data-height="1200" data-medium-image="@photoNamex?size=600" title="@Html.Encode(ViewBag.Product.Description.ToString()).Substring(0,50)" data-picture-id="@ViewBag.FeaturedPhotoID">
                      <img src="@photoNamex?size=72" class="gal-item-content file-img" alt="@Html.Encode(ViewBag.Product.Description.ToString()).Substring(0,50)" title="@Html.Encode(ViewBag.Product.Description.ToString()).Substring(0,50)" />
                     </a>
                    </div>
                    @{
                        var index = 1;
                        foreach (var photox in ViewBag.OtherPhoto)
                        {
                            var photoName = "~/products/NoPic.jpg";
                            if(photox.ImageURL.ToString().Length > 4){
                                try{
                                    int iSplit = photox.ImageURL.ToString().LastIndexOf("/");
                                    if (iSplit > 0){
                                        string url = photox.ImageURL.ToString().Substring(0, iSplit + 1);
                                        string file = photox.ImageURL.ToString().Substring(iSplit + 1, photox.ImageURL.ToString().Length - iSplit - 1);
                                        photoName = url + "Big_" + file;
                                    }
                                }catch(Exception){
                                    throw "There is a error in GetBigProductImage the url is: " + photox.ImageURL.ToString();
                                }
                            }else{
                                photoName = "/products/NoPic.jpg";
                            } 

                        <div class="gal-item">
                            <a class="gal-item-viewport" itemprop="contentUrl" href="@photoName" data-type="image" data-width="770" data-height="770" data-medium-image="@photoName?size=600" title="@Html.Encode(photox.Productx.Description.ToString()).Substring(0,50)" data-picture-id="@photox.ProdImgID">
                                <img src="@photoName?size=72" class="gal-item-content file-img" alt="@Html.Encode(photox.Productx.Description.ToString()).Substring(0,50)" title="@Html.Encode(photox.Productx.Description.ToString()).Substring(0,50)" />
                            </a>
                        </div>
                        index++;
                        }
                    }
                 </div>
                </div>
                <!-- Picture -->
                <div class="gal-cell border_">
                   <div class="gal">
                    <div class="gal-item">
                     <a class="gal-item-viewport" href="@photoNamex" data-thumb-image="@photoNamex?size=72" data-medium-image="@photoNamex?size=600" data-picture-id="3045">
                      <img class="gal-item-content file-img" src="@photoNamex?size=600" data-zoom="@photoNamex?size=600" data-zoom-width="1200" data-zoom-height="1200" alt="@Html.Encode(ViewBag.Product.Description.ToString()).Substring(0,50)" title="@Html.Encode(ViewBag.Product.Description.ToString()).Substring(0,50)" itemprop="image" style="width: 80%; height:auto"/>
                     </a>
                    </div>
                    @foreach (var photox in ViewBag.OtherPhoto)
                    {
                        var photoName = "~/products/NoPic.jpg";
                        if(photox.ImageURL.ToString().Length > 4){
                            try{
                                int iSplit = photox.ImageURL.ToString().LastIndexOf("/");
                                if (iSplit > 0){
                                    string url = photox.ImageURL.ToString().Substring(0, iSplit + 1);
                                    string file = photox.ImageURL.ToString().Substring(iSplit + 1, photox.ImageURL.ToString().Length - iSplit - 1);
                                    photoName = url + "Big_" + file;
                                }
                            }catch(Exception){
                                throw "There is a error in GetBigProductImage the url is: " + photox.ImageURL.ToString();
                            }
                        }else{
                            photoName = "/products/NoPic.jpg";
                        }
                    
                        <div class="gal-item">
                            <a class="gal-item-viewport" href="@photoName" data-thumb-image="@photoName?size=72" data-medium-image="@photoName?size=600" data-picture-id="3039">
                                <img class="gal-item-content file-img" src="@photoName?size=600" data-zoom="@photoName?size=600" data-zoom-width="1200" data-zoom-height="1200" alt="@Html.Encode(photox.Productx.Description.ToString()).Substring(0,50)" title="@Html.Encode(photox.Productx.Description.ToString()).Substring(0,50)" itemprop="image" style="width: 80%; height:auto"/>
                        </a>
                        </div>
                    }
                   </div>
                </div>

               </div>
              </div>
             </div>
            </div>
           </div>
           <!-- Sidebar: Info, Price, Buttons etc. -->
           <aside class="col-12 col-md-6 col-lg-5 pd-info-col zoom-window-container">
            <!-- Title/Brand/ReviewSummary -->
            <div class="pd-info pd-group">
             <!-- Brand -->
             <div class="pd-brand-block border_">
              <a class="pd-brand" href="@ViewBag.Product.Manufacturer.ManufURL" >
               <img class="pd-brand-picture border_" src="@ViewBag.Product.Manufacturer.Logo?size=256" alt="@ViewBag.Product.Manufacturer.ManufacturerName" title="All products from @ViewBag.Product.Manufacturer.ManufacturerName">
               <p class="border_">@ViewBag.Product.Manufacturer.ManufacturerName</p>
              </a>
              <meta itemprop="brand" content="@ViewBag.Product.Manufacturer.ManufacturerName" />
              <meta itemprop="sku" content="@ViewBag.Product.ProductCode" />
             </div>
             <!-- Title -->
             <div class="page-title border_">
              <h1 class="pd-name" itemprop="name">@Html.Encode(ViewBag.Product.Description.ToString()).Substring(0,50)</h1>
             </div>
             <!-- Short description -->
             <div class="pd-description border_" itemprop="description">@ViewBag.Product.Description</div>
            </div>
            <!-- Review Overview -->
            <div class="pd-review-summary pd-group">
             <div class="pd-rating-box border_">
              <div class="rating">
                @if (ViewBag.ReviewProducts.Count > 0)
                {   
                    var totalReviews = 0;
                    var countReviews = 1;
                    var averageRating = 0;
                    foreach (var review in ViewBag.ReviewProducts)
                    {
                        totalReviews += review.ProdRevRating*10;
                        countReviews++;
                    }
                    averageRating = (int)Decimal.Round(totalReviews/countReviews);
                    var _averageRating = ((int)Math.Round(averageRating/10.0))*10;
                    <div style="width: @_averageRating%"></div>
                }else{
                    <div style="width: 0%"></div>
                }
              </div>
             </div>
             <span class="pd-review-link border_">
                @if (ViewBag.ReviewProducts.Count > 0){
                    <a asp-controller="product" asp-action="review" asp-route-id="@ViewBag.product.ProdID">Write a review</a>
                }else{
                    <a asp-controller="product" asp-action="review" asp-route-id="@ViewBag.product.ProdID">Be the first to review this item</a>
                }
             </span>
            </div>
            <!-- Bundle Items -->
            <!-- Product attributes (SKU, EAN, Weight etc.) -->
            <div class="pd-attrs-container" data-partial="Attrs"></div>
            <!-- Offer box -->
            <div class="pd-offer border_" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
             <meta itemprop="itemCondition" content="http://schema.org/NewCondition" />
             <link itemprop="url" href="@Html.Encode(ViewBag.Product.Description.ToString()).Substring(0,50)" />
             <div class="pd-offer-price-container" data-partial="Price">
              <div class="pd-offer-price">
               <!-- Current price -->
               <div class="pd-group clearfix">
                <div class="row sm-gutters pd-price-group">
                 <div class="col-auto pd-price-block">
                  <meta itemprop="priceCurrency" content="ZAR" />
                  <div class="pd-price pd-price--offer border_">
                   <meta itemprop="price" content="@ViewBag.Product.PurchasePrice" />
                   <span class=""> R @ViewBag.Product.PurchasePrice excl tax </span>
                  </div>
                 </div>
                </div>
                <!-- Regular price -->
                <div class="pd-oldprice-line d-flex border_">
                 <span>Regular:</span>
                 <span class="pd-oldprice pl-1">R @ViewBag.Product.PurchasePrice excl tax</span>
                </div>
                <div class="pd-oldprice-line d-flex border_">
                 <span>You save:</span>
                 <span class="pl-1">R @((float)ViewBag.Product.PurchasePrice - (float)ViewBag.Product.PurchasePrice) <span class="pd-saving-percent">(14 %)</span></span>
                </div>
               </div>
               <!-- Tier prices -->
               <div class="pd-tierprices"></div>
               <!-- Pangv & legal info -->
               <div class="pd-group">
                <div class="pd-legalinfo border_">excl. VAT plus <a href="/shippinginfo">shipping</a></div>
               </div>
              </div>
             </div>
             <meta itemprop="availability" content="http://schema.org/InStock" />
             <div class="pd-stock-info-container" data-partial="Stock">
              <div class="pd-stock-info pd-group">
               <div class="deliverytime-group d-flex border_">
                <span class="delivery-date-block">
                 <span>Created:</span>
                 <span class="delivery-date"><b>@ViewBag.Product.CreateDate</b></span>
                </span>
               </div>
              </div>
             </div>
             <div class="art-variant-info">
              <div class="art-color-opts border_">
               <a href="/frontend/iphone-plus?color-260-0-1248=4894" class="art-color-opt" style="background-color: #dddfde" title="Silber auswählen"></a>
               <a href="/frontend/iphone-plus?color-260-0-1248=4895" class="art-color-opt" style="background-color: #e3d0ba" title="Gold auswählen"></a>
               <a href="/frontend/iphone-plus?color-260-0-1248=4897" class="art-color-opt" style="background-color: #d9a6ad" title="Rose auswählen"></a>
               <a href="/frontend/iphone-plus?color-260-0-1248=4902" class="art-color-opt" style="background-color: #af1e2d" title="Rot auswählen"></a>
               <a href="/frontend/iphone-plus?color-260-0-1248=4903" class="art-color-opt" style="background-color: #000000" title="Schwarz auswählen"></a>
              </div>
              <div class="art-more-opts border_">
                @{
                    if(ViewBag.BranchStock.Count > 0){
                        foreach(var branch in ViewBag.BranchStock)
                        {
                            <span class="bidi-embed">@branch.OrgBraShort:</span>
                            <a class="font-weight-medium bidi-embed" href="/frontend/iphone-plus">@branch.StockCount</a>
                        }
                    }
                    else
                    {
                        <p class="text-muted">No Stock</p>
                    }
                }
              </div>
             </div>
             <div class="pd-offer-actions-container" data-partial="OfferActions">
              <div class="row pd-offer-actions">
               <div class="col pd-offer-action-qty border_">
                <!--form asp-controller="cart" asp-action="buy" method="post"-->
                <div class="qty-input">
                 <div class="input-group bootstrap-touchspin">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary bootstrap-touchspin-down" type="button" onclick="substx()"><i class="fa fa-minus"></i></button>
                    </span>
                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none"></span>
                    <input class="form-control form-control-lg" data-max="10000" data-min="1" data-postfix="" data-step="1" data-val="true" data-val-number="The field 'EnteredQuantity' must be a number." id="addtocart_10_AddToCart_EnteredQuantity" name="quantity" type="text" value="1" style="display: block" />
                    <input type="hidden" name="id" value="@ViewBag.Product.ProdID" />
                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none"></span>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary bootstrap-touchspin-up" type="button" onclick="addx()"><i class="fa fa-plus"></i></button>
                    </span>
                 </div>
                </div>
                <!--/form-->
                <script>
                    function addx() {
                        var a = $("#addtocart_10_AddToCart_EnteredQuantity").val();
                        a++;
                        if (a && a >= 1) {
                            $(".bootstrap-touchspin-down").removeAttr("disabled");
                        }
                        $("#addtocart_10_AddToCart_EnteredQuantity").val(a);
                    };

                    function substx() {
                        var b = $("#addtocart_10_AddToCart_EnteredQuantity").val();
                        // this is wrong part
                        if (b && b >= 1) {
                            b--;
                            $("#addtocart_10_AddToCart_EnteredQuantity").val(b);
                        }
                        else {
                            $(".bootstrap-touchspin-down").attr("disabled", "disabled");
                        }
                    };
                </script>


               </div>
               <div class="col flex-grow-1 border_">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-add-to-cart ajax-cart-link">
                 <i class="fa fa-cart-arrow-down d-none d-sm-inline-block d-md-none d-xl-inline-block"></i>
                 <span>Add to cart</span>
                </button>
               </div>

               <!--button class="btn btn-primary" type="button" onclick="AddToCart();">Testing Add To Cart Ajax</!--button-->

              </div>
             </div>
             <div class="pd-actions-container">
              <div class="row sm-gutters pd-actions">
               <div class="col-3 pd-action-item border_">
                <a data-href="/cart/addproduct/10/2" data-form-selector="#pd-form" title="Add to wishlist" asp-controller="wishlist" asp-action="addwishlist" asp-route-id="@ViewBag.Product.ProdID" asp-route-redirect="@Context.Request.GetEncodedUrl()" class="pd-action-link pd-action-link-special ajax-cart-link action-add-to-wishlist" rel="nofollow" data-type="wishlist" data-action="add">
                 <i class="pd-action-icon icm icm-heart"></i>
                 <span class="pd-action-label">Add to List</span>
                </a>
               </div>
               <div class="col-3 pd-action-item border_">
                <a data-href="/catalog/addproducttocompare/10" title="Add to compare list" href="#" class="pd-action-link pd-action-link-special action-compare ajax-cart-link" rel="nofollow" data-type="compare" data-action="add">
                 <i class="pd-action-icon icm icm-repeat"></i>
                 <span class="pd-action-label">Compare</span>
                </a>
               </div>
               <div class="col-3 pd-action-item border_">
                <a class="pd-action-link action-ask-question action-ask-question" href="javascript:void(0)" data-href="/product/askquestionajax/10" data-form-selector="#pd-form" rel="nofollow" title="Question about product?">
                 <i class="pd-action-icon icm icm-envelope"></i>
                 <span class="pd-action-label">Questions?</span>
                </a>
               </div>
               <div class="col-3 pd-action-item border_">
                <a class="pd-action-link action-bullhorn" href="/product/emailafriend/10" rel="nofollow">
                 <i class="pd-action-icon icm icm-bullhorn"></i>
                 <span class="pd-action-label">Email a friend</span>
                </a>
               </div>
              </div>
             </div>
            </div>

            <script>
             // Ask question
             $(document).on("click", ".action-ask-question", function (e) {
              e.preventDefault();
              const el = $(this);
              const form = el.data("form-selector");
              if (form) {
               const href = el.data("href");
               $.ajax({
                cache: false,
                url: href,
                data: $(form).serialize(),
                success: function (response) {
                 // Redirect to ask question get action
                 if (response.redirect) location.href = response.redirect;
                },
               });
              }
             });
            </script>
            <!-- social share -->
            <div class="pd-share d-flex justify-content-left mt-3">
                <!-- AddThis Button BEGIN -->
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>        
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-638074085bad4db6">
                </script>
            </div>
           </aside>
          </section>
         </form>
        </div>
        <!-- Bottom Content: Full Description, Specification, Review etc. -->
        <section class="pd-section pd-section-bottom">
         <!-- Tabs -->
         <div class="pd-tabs tabbable nav-responsive" id="pd-tabs" data-breakpoint="<md">
          <ul class="nav nav-tabs nav-tabs-line">
           <li class="nav-item border_">
            <a class="nav-link active" href="#pd-tabs-1" data-toggle="tab" data-loaded="true"><span class="tab-caption">Overview</span><span class="nav-link-summary"></span></a>
           </li>
           <li class="nav-item border_">
            <a class="nav-link" href="#pd-tabs-2" data-toggle="tab" data-loaded="true"><span class="tab-caption">Features</span></a>
           </li>
           <li class="nav-item border_">
            <a class="nav-link" href="#pd-tabs-3" data-toggle="tab" data-loaded="true"><span class="tab-caption">Reviews</span><span class="ml-2 badge badge-secondary">@ViewBag.ReviewProducts.Count</span></a>
           </li>
          </ul>
          <div class="tab-content">
           <div class="tab-content-header">
            <a href="javascript:void()" class="btn btn-secondary btn-flat btn-no-border offcanvas-closer rounded-0" title="Close">
             <i class="fa fa-chevron-left"></i>
             <span>Close</span>
            </a>
           </div>
           <div class="tab-pane active" role="tabpanel" id="pd-tabs-1">
            <div itemprop="description" class="long-text html-editor-content">
             <div class="more-less" data-max-height="260" style="max-height: none">
              <div class="more-block border_">
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(ViewBag.product.LongDescription))
              </div>
             </div>
            </div>
           </div>
           <div class="tab-pane" role="tabpanel" id="pd-tabs-2">
            <div class="pd-specs table-responsive">
             <table class="table pd-specs-table">
              <tbody>
               <tr>
                <td colspan="2">Features</td>
               </tr>
               @if (ViewBag.Features  != null)
               {
                @foreach (var Feature in ViewBag.Features)
                {
               <tr>
                <td class="pd-spec-name">@Feature.Description</td>
                <td class="pd-spec-value">
                 <span>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Feature.FeatureValue))</span>
                </td>
               </tr>
                }
               }
               <tr>
                <td colspan="2">Specifications</td>
               </tr>
               @if (ViewBag.Specifications  != null)
               {
                @foreach (var Specification in ViewBag.Specifications)
                {
               <tr>
                <td class="pd-spec-name">@Specification.Description</td>
                <td class="pd-spec-value">
                 <span>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Specification.SpecificationsValue))</span>
                </td>
               </tr>
                }
               }
              </tbody>
             </table>
            </div>
           </div>
           <div class="tab-pane" role="tabpanel" id="pd-tabs-3">
            @if (ViewBag.ReviewProducts != null && ViewBag.ReviewProducts.Count > 0)
            {                
            <div class="block">
                <div class="block-title">
                    <h3 class="d-flex align-items-center">
						<span>Existing reviews</span> 
						<small class="text-muted pl-2 lrm">(@ViewBag.ReviewProducts.Count)</small>
					</h3>
                </div>
                <div class="block-body pt-3">
                    <div class="review-list fs-h6" id="review-list">
                        @if (ViewBag.ReviewProducts != null)
                        {   
                            var i = 1;
                            foreach (var review in ViewBag.ReviewProducts)
                            {
                            <div class="review-item" id="review-item-@i" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
                                <div class="review-title">
                                    <div class="rating" itemprop="reviewRating" itemscope="" itemtype="https://schema.org/Rating">
                                        @switch (review.ProdRevRating)
                                        {
                                            case 1:
                                        <div style="width: 10%"></div>
                                            break;
                                            case 2:
                                        <div style="width: 20%"></div>
                                            break;
                                            case 3:
                                        <div style="width: 30%"></div>
                                            break;
                                            case 4:
                                        <div style="width: 40%"></div>
                                            break;
                                            case 5:
                                        <div style="width: 50%"></div>
                                            break;
                                            case 6:
                                        <div style="width: 60%"></div>
                                            break;
                                            case 7:
                                        <div style="width: 70%"></div>
                                            break;
                                            case 8:
                                        <div style="width: 80%"></div>
                                            break;
                                            case 9:
                                        <div style="width: 90%"></div>
                                            break;
                                            case 10:
                                        <div style="width: 100%"></div>
                                            break;
                                            default:
                                            break;
                                        }
                                        <meta itemprop="ratingValue" content="@review.ProdRevRating">
                                    </div>
                                    @switch (review.ProdRevRating)
                                    {
                                        case 1: 
                                            <h4 itemprop="name">Abysmall</h4>
                                            break;
                                        case 2: 
                                            <h4 itemprop="name">Terrible</h4>
                                            break;
                                        case 3: 
                                            <h4 itemprop="name">Poor</h4>
                                            break;
                                        case 4: 
                                            <h4 itemprop="name">Mediocre</h4>
                                            break;
                                        case 5: 
                                            <h4 itemprop="name">Average</h4>
                                            break;
                                        case 6: 
                                            <h4 itemprop="name">Good</h4>
                                            break;
                                        case 7: 
                                            <h4 itemprop="name">Very good</h4>
                                            break;
                                        case 8: 
                                            <h4 itemprop="name">Excellent</h4>
                                            break;
                                        case 9: 
                                            <h4 itemprop="name">Spectacular</h4>
                                            break;
                                        case 10: 
                                            <h4 itemprop="name">Perfect</h4>
                                            break;
                                        default:
                                            break;
                                    }
                                </div>
                                <div class="review-meta">
                                    <span itemprop="author" itemscope="" itemtype="https://schema.org/Person">
                                        <span class="review-meta-label">From:</span>
                                            <span class="review-meta-value" itemprop="name">@review.Customer.FirstName @review.Customer.Surname</span>
                                    </span>
                                    <span class="review-meta-label">Date:</span>
                                    <span class="review-meta-value" itemprop="datePublished" content="2021-02-DD">@DateTime.Parse(review.ProdRevDate.ToString("MM/dd/yyyy hh:mm tt")).Date</span>
                                </div>
                                <p class="review-text" dir="auto" itemprop="reviewBody">
                                    @review.ProdRevText
                                </p>

                                @{
                                    var offensive = 0;
                                    var helpful = 0;
                                    var nothelpful = 0;
                                }
                                @if (review.ReviewFlagsx != null){
                                    foreach (var reviewFlag in review.ReviewFlagsx)
                                    {
                                        switch (reviewFlag.ReviewFlagTypeID){
                                            case 1: 
                                            offensive++;
                                            break;
                                            case 2: 
                                            helpful++;
                                            break;
                                            case 3:
                                            nothelpful++;
                                            break;
                                            default:
                                            break;
                                        }

                                    }
                                }
                                <div class="review-vote d-flex" data-review-id="202" data-href="/frontend/en/product/setreviewhelpfulness">
                                    <span class="review-vote-label pr-2">Was this review helpful?</span>
                                    <a class="review-vote-link review-vote-link-yes mr-1" asp-controller="product" asp-action="reviewresponse" asp-route-id="@review.ProdRevID" asp-route-flag="2" asp-route-prodid="@ViewBag.Product.ProdID" title="" data-toggle="tooltip" rel="nofollow" data-original-title="Yes">
                                        <i class="fa fa-thumbs-up"></i>
                                        <span class="review-vote-count" data-bind-to="TotalYes">
                                            <strong style="font-size:12px">
                                             @helpful   
                                            </strong>
                                        </span>
                                    </a>
                                    <a class="review-vote-link review-vote-link-no mr-1" asp-controller="product" asp-action="reviewresponse" asp-route-id="@review.ProdRevID" asp-route-flag="1" asp-route-prodid="@ViewBag.Product.ProdID" title="" data-toggle="tooltip" rel="nofollow" data-original-title="No">
                                        <i class="fa fa-thumbs-down"></i>
                                        <span class="review-vote-count" data-bind-to="TotalNo">
                                            <strong style="font-size:12px">
                                                @offensive
                                            </strong>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            i++;
                            }
                        }
                    </div>
                </div>
            </div>
            }else {
            <p class="text-muted">No one has written a review for this product yet.</p>
            }
            <p class="mb-4">
             <a class="btn btn-warning" asp-controller="product" asp-action="review" asp-route-id="@ViewBag.product.ProdID">
              <span>Write a review</span>
             </a>
            </p>
           </div>
          </div>
          <input type="hidden" class="loaded-tab-name" name="LoadedTabs" value="#pd-tabs-1" />
          <input type="hidden" class="loaded-tab-name" name="LoadedTabs" value="#pd-tabs-2" />
          <input type="hidden" class="loaded-tab-name" name="LoadedTabs" value="#pd-tabs-3" />
         </div>

         <script>
          $(function () {
           $("#pd-tabs").responsiveNav();
          });
         </script>
         <!-- Tags -->
         <!-- Related products -->
         <!-- Products also purchased -->
        </section>
       </article>
       <div class="product-grid recently-viewed-product-grid block block-boxed">
        <div class="block-title border_">
         <h3>Related Products</h3>
        </div>
        @if(ViewBag.RelatedProducts != null)  
        {
        <div class="block-body pt-0">
         <div class="artlist-carousel">
            <div id="artlist-1867478033" class="artlist artlist-grid artlist-4-cols Slider_">
            @foreach (var relatedProduct in ViewBag.RelatedProducts)
            {
                Product productInfo = (Product)relatedProduct;
                var photoName = "~/products/NoPic.jpg";
                if (productInfo.ImgURL != null){
                    photoName = productInfo.ImgURL;
                }
                if(productInfo.ImgURL == null){
                    photoName = "/products/NoPic.jpg";
                }
                if(productInfo.ImgURL == ""){
                    photoName = "/products/NoPic.jpg";
                }  

                <article class="art border_">
                    <div class="art-picture-block border_">
                        <a asp-controller="product" asp-action="details" asp-route-id="@relatedProduct.ProdID" class="art-picture img-center-container" title="@Html.Encode(relatedProduct.Description.ToString()).Substring(0,50)" tabindex="0">
                            <img src="@photoName" alt="@Html.Encode(relatedProduct.Description.ToString()).Substring(0,50)" title="@Html.Encode(relatedProduct.Description.ToString()).Substring(0,50)" loading="lazy" />
                        </a>
                    </div>
                    <div class="art-brand border_">
                        <span>@relatedProduct.Manufacturer.ManufacturerName</span>
                    </div>
                    <h3 class="art-name border_">
                        <a asp-controller="product" asp-action="details" asp-route-id="@relatedProduct.ProdID" title="@Html.Encode(relatedProduct.Description.ToString()).Substring(0,50)" tabindex="0">
                            <span>@Html.Encode(relatedProduct.Description.ToString()).Substring(0,50)</span>
                        </a>
                    </h3>
                    <div class="art-price-block">
                        <span class="art-price border_"> From R @relatedProduct.PurchasePrice excl Tax </span>
                    </div>
                </article>
            }
            </div>
         </div>       
        </div>
        }else{
            <p>The are no related products to this product.</p>
        }
       </div>
      </div>

      <script>
       /*$(function () {
        var settings = {
         galleryStartIndex: 0,
         enableZoom: toBool("True"),
        };
        $("#pd-form").productDetail(settings);
       });*/
      </script>
     </div>
     <!-- #endregion -->
    </div>
</div>

