@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using improweb2022_02.Models;
@using Microsoft.AspNetCore.Http.Extensions
@model improweb2022_02.ViewModels.CountryViewModel;

<div id="content" class="container">
    <div class="row">
        <!-- #region BreadCrump -->
        <div class="breadcrumb-container d-none d-md-flex flex-wrap align-items-center mb-4 border_">
            <ol class="breadcrumb mb-0 border_" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a asp-controller="home" asp-action="index" title="Top" itemprop="item">
                        <meta itemprop="name" content="Home page" />
                        <meta itemprop="position" content="1" />
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a asp-controller="cart" asp-action="index" title="Cart" itemprop="item">
                        <meta itemprop="position" content="2"><span itemprop="name" dir="auto">Cart Items</span>
                    </a>
                </li>
            </ol>
            <div class="breadcrumb-item active border_">
                <span>Billing Address</span>
            </div>
        </div>
        <!-- #endregion -->
    </div>
    <div id="content-body" class="row">
        <!-- #region Product Detail -->
        <div id="content-center" class="col-lg-12 border_">
            <div class="costeps row no-gutters">
                <div class="col-2 costep visited border_" data-step="cart">
                    <a class="costep-link" asp-controller="cart" asp-action="index">
                        <i class="costep-icon"></i>
                        <span class="costep-label">Cart</span>
                    </a>
                </div>
                <div class="col-2 costep active border_" data-step="address">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Address</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="shipping">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Shipping</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="payment">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Payment</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="confirm">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Confirm</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="complete">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Complete</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="content-center" class="col-lg-12 border_">
            <div class="page shopping-cart-page">
                <div class="page-title border_">
                    <h1 class="h3">Billing Address</h1>
                </div>
                <div class="page-body checkout-data">
                    <fieldset class="content-group mb-3">
                        <legend><span>Select billing address</span></legend>
                        <div class="card-deck card-cols-sm-1 card-cols-md-2 card-cols-lg-3 address-list">
                            @if (ViewBag.customer != null || ViewBag.BillingAddress != null){ 
                                if(ViewBag.customer != null){
                                    //from the customer Table                                                                
                                    <div class="card card-body address-list-item">
                                        <div class="address-item">
                                            <button class="btn btn-warning btn-block select-billing-address-button" onclick="setLocation('/frontend/en/checkout/selectbillingaddress?addressId=22142')">
                                                <span>Bill to this address</span>
                                                <i class="fa fa-angle-right"></i>
                                            </button>

                                            <div class="address-data mt-3">
                                                <div class="name pb-2">
                                                    <strong>
                                                        <span class="bidi-embed">@ViewBag.customer.FirstName</span>
                                                        <span class="bidi-embed">@ViewBag.customer.Surname</span>
                                                    </strong>
                                                </div>
                                                <div class="email">
                                                    <span>Email:</span>
                                                    <span>@ViewBag.customer.Email</span>
                                                </div>
                                                    <div class="phone">
                                                        <span>Phone number:</span>
                                                        <span>@ViewBag.customer.Tel</span>
                                                    </div>
                                                
                                                <div class="address">
                                                    @ViewBag.customer.PostalAdd <br />
                                                    @ViewBag.customer.PostalCountry, @ViewBag.customer.PostalCode
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                if(ViewBag.BillingAddress.Count > 0){
                                    @foreach (var billingaddress in ViewBag.BillingAddress){
                                        <div class="card card-body address-list-item">
                                            <div class="address-item">
                                                <button class="btn btn-warning btn-block select-billing-address-button" onclick="setLocation('/frontend/en/checkout/selectbillingaddress?addressId=22190')">
                                                    <span>Bill to this address</span>
                                                    <i class="fa fa-angle-right"></i>
                                                </button>

                                                <div class="address-data mt-3">
                                                    @if(billingaddress.BillingDesc != null){
                                                        <div class="name pb-2">
                                                            <strong>
                                                                <span class="bidi-embed">@ViewBag.billingAddress.BillingDesc</span>
                                                            </strong>
                                                        </div>
                                                    }
                                                    <div class="name pb-2">
                                                        <strong>
                                                            <span class="bidi-embed">@ViewBag.customer.FirstName</span>
                                                            <span class="bidi-embed">@ViewBag.customer.Surname</span>
                                                        </strong>
                                                    </div>
                                                    <div class="email">
                                                        <span>Email:</span>
                                                        <span>@ViewBag.customer.Email</span>
                                                    </div>
                                                        <div class="phone">
                                                            <span>Phone number:</span>
                                                            <span>@ViewBag.customer.Tel</span>
                                                        </div>
                                                    
                                                    <div class="address">
                                                        @billingaddress.BillingAddress<br />
                                                        @billingaddress.BillingCountry, @billingaddress.BillingCode
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }                                    
                                }
                            }else{
                                <p class="text-muted">There are currently no billing address to choose from<br /> 
                                Add a billing address below.</p>
                            }
                            
                            
                        </div>
                    </fieldset>
                    <fieldset class="content-group">
                        <legend><span>Or enter new address</span></legend>
                        <div class="enter-address">
                            <form asp-controller="cart" asp-action="billingaddress" method="post" novalidate="novalidate">					
                                <div class="enter-address-body">
                                    <input data-val="true" data-val-number="The field 'ID' must be a number." data-val-required="" id="NewAddress_Id" name="Id" type="hidden" value="0">
                                    <input id="CustID" name="CustID" type="hidden" value="@ViewBag.customer.CustID">
                                    <div class="form-horizontal">    
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label required" for="Address1">Address 1</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" data-val="true" data-val-required="" id="Address1" name="Address1" type="text" value="">
                                                <span class="field-validation-valid" data-valmsg-for="Address1" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="Address2">Address 2</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" id="Address2" name="Address2" placeholder="Optional" type="text" value="">
                                                <span class="field-validation-valid" data-valmsg-for="Address2" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label required" for="City">City</label>
                                            <div class="col-sm-9">
                                                <div class="row sm-gutters d-flex">
                                                    <div class="col">
                                                        <input class="form-control" data-val="true" data-val-required="" id="City" name="City" placeholder="" type="text" value="">
                                                    </div>
                                                    <div class="col col-auto">
                                                        <label class="text-right col-form-label required" for="ZipPostalCode">Zip / postal code</label>
                                                    </div>
                                                    <div class="col col-auto">
                                                        <input class="form-control" data-val="true" data-val-required="" id="ZipPostalCode" name="ZipPostalCode" placeholder="" style="width: 6rem" type="text" value="">
                                                    </div>
                                                </div>
                                                <span class="field-validation-valid" data-valmsg-for="City" data-valmsg-replace="true"></span>
                                                <span class="field-validation-valid" data-valmsg-for="ZipPostalCode" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <!--div class="form-group row">
                                            <label class="col-sm-3 col-form-label required" for="CountryId">Country</label>
                                            <div class="col-sm-9">
                                                <select class="form-control country-input country-selector select2-hidden-accessible" data-addemptystateifrequired="true" data-region-control-selector="#NewAddress_StateProvinceId" data-states-ajax-url="/frontend/en/country/getstatesbycountryid" data-val="true" data-val-number="The field 'Country' must be a number." data-val-required="" id="NewAddress_CountryId" name="CountryId" tabindex="-1" aria-hidden="true"><option value="0">Select country</option>
                                                <option value="1">Deutschland</option>
                                                </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-NewAddress_CountryId-container"><span class="select2-selection__rendered" id="select2-NewAddress_CountryId-container" title="Select country"><span class="select2-option">Select country</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                <span class="field-validation-valid" data-valmsg-for="CountryId" data-valmsg-replace="true"></span>
                                            </div>
                                        </div-->
                                        <div class="form-group rowx">
                                            <label class="col-md-3 col-form-label" for="OrganisationName">Country</label>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <select class="form-control selectpicker" data-live-search="true" style="width: 100%;" id="Country" name="Country"  asp-items="@Model.Countries">
                                                    </select>
                                                </div> 
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label Required" for="Province">State / Province</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" data-val="true" data-val-required="" id="Province" name="Province" placeholder="Optional" type="text" value="">
                                                <span class="field-validation-valid" data-valmsg-for="Province" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                        <!--div class="form-group row">
                                            <label class="col-sm-3 col-form-label" for="NewAddress_StateProvinceId">State / province</label>
                                            <div class="col-sm-9">
                                                <select class="form-control select2-hidden-accessible" data-val="true" data-val-number="The field 'State / province' must be a number." id="NewAddress_StateProvinceId" name="StateProvinceId" tabindex="-1" aria-hidden="true">
                                                    <option value="0">Other (Non US)</option>
                                                </select>
                                                <span class="select2 select2-container select2-container--bootstrap" dir="ltr">
                                                    <span class="selection">
                                                        <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-NewAddress_StateProvinceId-container">
                                                            <span class="select2-selection__rendered" id="select2-NewAddress_StateProvinceId-container" title="Other (Non US)">
                                                                <span class="select2-option">Other (Non US)</span>
                                                            </span>
                                                            <span class="select2-selection__arrow" role="presentation">
                                                                <b role="presentation"></b>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span class="dropdown-wrapper" aria-hidden="true"></span>
                                                </span>
                                                <span class="field-validation-valid" data-valmsg-for="StateProvinceId" data-valmsg-replace="true"></span>
                                            </div>
                                        </div-->
                                        <div>
                                            <hr>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-3 col-sm-9 text-muted address-required-hint">
                                            * Input elements with asterisk are required and have to be filled out.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <a class="btn btn-secondary btn-lg" asp-controller="cart" asp-action="buy">
                                        <i class="fa fa-angle-left"></i>
                                        <span>Back</span>
                                    </a>
                                    <input type="submit" id="nextstep" name="nextstep" class="d-none">
                                    <button class="btn btn-warning btn-lg new-address-next-step-button" onclick="$('#nextstep').trigger('click');return false;">
                                        <span>Next</span>
                                        <i class="fa fa-angle-right"></i>
                                    </button>
                                </div>
                            </form>			
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.my-select').selectpicker();
        $(function () {
            $('select').selectpicker();
        });
    });
    $(function() {
        setRememberedFormFields("registerVals");
        _.delay(function() {
            $(".country-selector").trigger("change");
        }, 50);
    });

    const form = document.getElementById('register-form');
    form.addEventListener('focusout', (event) => {
        rememberFormFields("register-form", "registerVals");
    });
</script>
