@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using improweb2022_02.Models;
@using Microsoft.AspNetCore.Http.Extensions;
@using improweb2022_02.Helpers;
<div id="content" class="container">
    <div class="row">
        <!-- #region BreadCrump -->
        <div class="breadcrumb-container d-none d-md-flex flex-wrap align-items-center mb-4 border_">
            <ol class="breadcrumb mb-0 border_" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a asp-controller="home" asp-action="index" title="Top" itemprop="item">
                        <meta itemprop="name" content="Home page" />
                        <meta itemprop="position" content="1" />
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <!--li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a asp-controller="customer" asp-action="dashboard" title="Dashboard" itemprop="item">
                        <meta itemprop="position" content="2"><span itemprop="name" dir="auto">Dashboard</span>
                    </a>
                </li-->
            </ol>
            <div class="breadcrumb-item active border_">
                <span>Cart (@ViewBag.countItems)</span>
            </div>
        </div>
        <!-- #endregion -->
    </div>
    <div id="content-body" class="row">
        <!-- #region Product Detail -->
        <div id="content-center" class="col-lg-12 border_">
            <div class="costeps row no-gutters">
                <div class="col-2 costep active border_" data-step="cart">
                    <a class="costep-link" href="/cart">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Cart</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="address">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Address</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="shipping">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Shipping</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="payment">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Payment</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="confirm">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Confirm</span>
                    </a>
                </div>
                <div class="col-2 costep inactive border_" data-step="complete">
                    <a class="costep-link" href="javascript:void(0)">
                    <i class="costep-icon"></i>
                    <span class="costep-label">Complete</span>
                    </a>
                </div>
            </div>
        </div>

        <div id="content-center" class="col-lg-12 border_">
            <div class="page shopping-cart-page">
                <div class="page-title border_">
                    <h1 class="h3">Shopping cart</h1>
                </div>
                <div class="page-body">
                    <div class="order-summary-content cart-content" data-empty-text="Your Shopping Cart is empty!">
                        <form asp-controller="cart" asp-action="update" enctype="multipart/form-data" id="cartform" method="post" novalidate="novalidate">            
                            <div class="card border_">
                                <div id="cart-items" class="cart mb-0 cart-editable border_">
                                    <div class="cart-head">
                                        <div class="cart-row border_">
                                            <div class="cart-col cart-col-main border_">
                                                Product(s)
                                            </div>
                                            <div class="cart-col cart-col-price border_">
                                                Price
                                            </div>
                                            <div class="cart-col cart-col-qty border_">
                                                Qty.
                                            </div>
                                            <div class="cart-col cart-col-price cart-col-subtotal border_">
                                                Total
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-body">
                                        @if (ViewBag.cart != null) 
                                        {   var i = 1;
                                            @foreach (var productInfo in ViewBag.cart)
                                            {
                                            var photoName = "~/products/NoPic.jpg";
                                            if (productInfo.Photo != null){
                                                photoName = productInfo.Photo;
                                            }
                                            if(productInfo.Photo == null){
                                                photoName = "/products/NoPic.jpg";
                                            }
                                            if(productInfo.Photo == ""){
                                                photoName = "/products/NoPic.jpg";
                                            }
                                            <div class="cart-row border_">
                                                <div class="cart-col cart-col-main">
                                                <div class="row sm-gutters">
                                                    <div class="col cart-item-img border_">
                                                        <img class="img-fluid" alt="@Html.Encode(productInfo.Description.ToString()).Substring(0,50)" src="@photoName?size=256" title="Show details for @Html.Encode(productInfo.Description.ToString()).Substring(0,50)">
                                                    </div>
                                                    <div class="col">
                                                        <a class="cart-item-link border_" asp-controller="product" asp-action="details" asp-route-id="@productInfo.ProdID"  title="Description">@Html.Encode(productInfo.Description.ToString()).Substring(0,50)</a>
                                                        <div class="cart-item-desc fs-sm border_">
                                                            @productInfo.Description
                                                        </div>
                                                        <div class="cart-item-attrs fs-sm my-2 border_">
                                                            <div class="row cart-item-attr deliverytime-group">
                                                                <div class="col-3 border_">
                                                                    Arrives:
                                                                </div>
                                                                <div class="col-9 border_">
                                                                    <span class="delivery-date"><b>@productInfo.CreatedDate.ToString("dddd, dd MMMM yyyy")</b></span>
                                                                </div>
                                                            </div>
                                                            <div class="row cart-item-attr">
                                                                @{
                                                                    //WebConfig webConfig = WebConfigService.getWebConfig();
                                                                    if(productInfo.stockCount == 0){
                                                                        <p class="text-muted">
                                                                            <a class="btn btn-danger btn-to-danger btn-sm btn-icon border_">
                                                                            <i class="fa-solid fa-xmark"></i>
                                                                            </a> Currently OUT of stock</p>
                                                                    }
                                                                    if(productInfo.stockCount > 0 && productInfo.stockCount < 5)
                                                                    {
                                                                        <p class="text-muted">
                                                                            <a class="btn btn-gray btn-to-gray btn-sm btn-icon border_">
                                                                            <i class="fa-sharp fa-solid fa-exclamation"></i>
                                                                            </a> Low stock( @productInfo.stockCount ). Order now to avoid disappointment!</p>
                                                                    }
                                                                    if(productInfo.stockCount > 5)
                                                                    {
                                                                        <p class="text-muted">
                                                                            <a class="btn btn-success btn-to-success btn-sm btn-icon border_">
                                                                            <i class="fa-solid fa-check"></i>
                                                                            </a> @productInfo.stockCount In Stock</p>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col col-auto">
                                                        <div class="cart-row-actions btn-group-vertical border_">
                                                            <a class="btn btn-gray btn-to-danger btn-sm btn-icon ajax-action-link border_" title="Remove" asp-controller="cart" asp-action="remove" asp-route-id="@productInfo.ProdID" >
                                                                <i class="fa fa-2x">×</i>
                                                            </a>
                                                            <a asp-controller="wishlist" asp-action="addwishlist" asp-route-id="@productInfo.ProdID" asp-route-redirect="@Context.Request.GetEncodedUrl()" class="btn btn-secondary btn-sm btn-icon ajax-action-link border_" title="Move to wishlist" data-name="@Html.Encode(productInfo.Description.ToString()).Substring(0,50)" >
                                                                <i class="fal fa-heart"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="cart-col cart-col-price border_" data-caption="Price">
                                                    <span class="price border_">@productInfo.PurchasePrice.ToString("R #,##0.00; (R #,##0.00);Zero") incl VAT</span>
                                                </div>
                                                <div class="cart-col cart-col-qty border_" data-caption="Quantity">
                                                    <div class="qty-input">
                                                        <div class="input-group bootstrap-touchspin">
                                                            @{var buttonMinus = "bootstrap-touchspin-down"+ i; }
                                                            <span class="input-group-btn border_">
                                                                <button class="btn btn-secondary @buttonMinus" type="button" onclick="subst(@i)"><i class="fa fa-minus"></i></button>
                                                            </span>
                                                            <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                                            @{var numberInput = "itemquantity"+ i; }
                                                            <input class="form-control" data-max="10000" data-min="1" data-postfix="" data-sci-item="1" data-step="1" data-val="true" data-val-number="The field 'EnteredQuantity' must be a number." id="@numberInput" name="quantity" type="text" value="@productInfo.Quantity" style="display: block;">
                                                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                                            @{var buttonAdd = "bootstrap-touchspin-up"+ i; }
                                                            <span class="input-group-btn border_">
                                                                <button class="btn btn-secondary @buttonAdd" type="button" onclick="add(@i)"><i class="fa fa-plus"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cart-col cart-col-price cart-col-subtotal border_" data-caption="Total">
                                                    @{var Pricex = productInfo.PurchasePrice * productInfo.Quantity;}
                                                    <span class="price">@Pricex.ToString("R #,##0.00; (R #,##0.00);Zero") incl VAT</span>
                                                </div>
                                            </div>
                                            i++;
                                            }
                                        }
                                    </div>
                                </div>

                                <script>
                                    function add(i) {
                                        //let form = document.getElementById("cartform");
                                        var a = $("#itemquantity"+ i ).val();
                                        a++;
                                        if (a && a >= 1) {
                                            $(".bootstrap-touchspin-down"+ i ).removeAttr("disabled");
                                        }
                                        $("#itemquantity"+ i ).val(a);
                                        $( "#cartform" ).delay(60000).submit();
                                    };
                                    function subst(i) {
                                        //let form = document.getElementById("cartform");
                                        var b = $("#itemquantity"+ i).val();
                                        // this is wrong part
                                        if (b && b >= 1) {
                                            b--;
                                            $("#itemquantity"+ i ).val(b);
                                            $( "#cartform" ).delay(60000).submit();
                                        }
                                        else {
                                            $(".bootstrap-touchspin-down"+ i ).attr("disabled", "disabled");
                                        }
                                    };
                                </script>

                                <div class="cart-footer rounded-bottom">
                                    <div class="row">
                                        <div class="col-md-6 border_">
                                            <div class="cart-action cart-action-coupon border_">
                                                <h5 class="cart-action-title collapsed border_" data-toggle="collapse" data-target="#cart-action-coupon-body" aria-controls="cart-action-coupon-body">
                                                    I have a discount code
                                                </h5> 
                                                <div class="cart-action-body collapse" id="cart-action-coupon-body">
                                                    <div class="coupon-code form-group">
                                                        <div class="input-group">
                                                            <input name="discountcouponcode" type="text" class="form-control form-control-success discount-coupon-code" placeholder="Enter your coupon here">
                                                            <span class="input-group-btn input-group-append border_">
                                                                <button type="submit" class="btn btn-primary apply-discount-coupon-code-button border_" title="Apply coupon" name="applydiscountcouponcode" value="applydiscountcouponcode">
                                                                    <i class="fa fa-check"></i>
                                                                    <span>Apply coupon</span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-action cart-action-giftcard border_">
                                                <h5 class="cart-action-title collapsed" data-toggle="collapse" data-target="#cart-action-giftcard-body" aria-controls="cart-action-giftcard-body">
                                                    I have a gift card
                                                </h5>
                                                <div class="cart-action-body collapse" id="cart-action-giftcard-body">
                                                    <div class="coupon-code form-group">
                                                        <div class="input-group">
                                                            <input name="giftcardcouponcode" type="text" class="form-control gift-card-coupon-code" placeholder="Enter gift card code">
                                                            <span class="input-group-btn input-group-append">
                                                                <button type="submit" class="btn btn-primary apply-gift-card-coupon-code-button" name="applygiftcardcouponcode" value="applygiftcardcouponcode">
                                                                <i class="fa fa-check"></i>
                                                                <span>Add gift card</span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 border_">
                                            <div id="order-totals border_">
                                                <style>
                                                    .cart-summary td {
                                                        padding: 0.5rem 0.5rem;
                                                        vertical-align: top;
                                                    }
                                                </style>
                                                <table class="cart-summary">
                                                    <tbody>
                                                    <tr class="cart-summary-subtotal border_">
                                                    <td class="cart-summary-label border_">Subtotal:</td>
                                                    <td class="cart-summary-value border_">@ViewBag.Total.ToString("R #,##0.00; (R #,##0.00);Zero") incl VAT</td>
                                                    </tr>
                                                    <tr class="cart-summary-shipping border_">
                                                    <td class="cart-summary-label border_">
                                                        <span class="text-nowrap">Shipping:</span>
                                                    </td>
                                                    <td class="cart-summary-value border_">
                                                            <span class="cart-summary-neg">Calculated during checkout</span>
                                                    </td>
                                                    </tr>
                                                    <tr class="cart-summary-tax border_">
                                                        <td class="cart-summary-label border_">Tax:</td>
                                                        <td class="cart-summary-value border_">R0.00</td>
                                                    </tr>
                                                    <tr class="cart-summary-total border_">
                                                    <td class="cart-summary-label border_">Total:</td>
                                                    <td class="cart-summary-value border_">
                                                        <span>@ViewBag.Total.ToString("R #,##0.00; (R #,##0.00);Zero")</span>
                                                    </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-buttons my-4 row border_">
                                <div class="col-sm-6 col-lg-4 order-last order-sm-first mt-3 mt-sm-0 border_">
                                    <a class="btn btn-secondary btn-block btn-lg btn-continue-shopping border_" asp-controller="home" asp-action="index" >
                                        <i class="fa fa-angle-left mr-3"></i>
                                        <span>Continue shopping</span>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-4 ml-lg-auto border_">
                                    @if (ViewBag.cart != null && ViewBag.countItems > 0)
                                    {
                                        <div id="start-checkout-buttons">
                                            <div class="checkout-buttons">
                                            <input type="submit" name="startcheckout" value="startcheckout" id="startcheckout" class="d-none">
                                            <a id="checkout" class="btn btn-danger btn-lg btn-block btn-checkout border_" asp-controller="cart" asp-action="billingaddress">
                                                <span>Checkout</span>
                                                <i class="fa fa-angle-right ml-3"></i>
                                            </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    <script>
                        /*$(function () {
                        var orderSummary = $(".cart-content");
                        var isWishlist = orderSummary.is('.wishlist-content');
                        var updatingCart = false;
                        // Remove cart item and move to wishlist.
                        orderSummary.on("click", ".ajax-action-link", function (e) {
                            e.preventDefault();
                            var link = $(this);
                            updateShoppingCartItems(link, link.data);
                            return false;
                        });
                        // Quantity touchspin change.
                        var debouncedUpdate = _.debounce(function (e) {
                            e.preventDefault();
                            var link = $(this);
                            updateShoppingCartItems(link, { sciItemId: link.data("sci-id"), newQuantity: link.val(), isCartPage: true, isWishlist: isWishlist });
                            return false;
                        }, 350, false);
                        orderSummary.on('change', '.qty-input .form-control', debouncedUpdate);
                        function updateShoppingCartItems(link, data) {
                            if (updatingCart)
                            return;
                            updatingCart = true;
                            showThrobber();
                            $.ajax({
                            cache: false,
                            url: link.data("href"),
                            data: data,
                            type: 'POST',
                                    success: function (response) {
                                        if (!_.isEmpty(response.redirect)) {
                                            location.href = response.redirect;
                                            return false;
                                        }

                                if (response.cartItemCount == 0) {
                                orderSummary.html('<div class="alert alert-warning fade show">' + orderSummary.data('empty-text') + '</div>');
                                }
                                var cartBody = $(".cart-body");
                                var totals = $("#order-totals");
                                var coupon = $(".cart-action-coupon");

                                        if (response.success) {
                                            $("#start-checkout-buttons").toggleClass("d-none", !response.displayCheckoutButtons);

                                // Replace HTML.
                                cartBody.html(response.cartHtml);
                                totals.html(response.totalsHtml);
                                coupon.html(response.discountHtml);
                                }
                                displayNotification(response.message, response.success ? "success" : "error");

                                // Reinit qty controls.
                                applyCommonPlugins(cartBody);

                                // Update shopbar.
                                        ShopBar.loadSummary('cart', true);
                                        ShopBar.loadSummary('wishlist', true);

                                hideThrobber();
                            },
                            complete: function () {
                                updatingCart = false;
                            }
                            });
                        }
                        function showThrobber() {
                            var cnt = $("#cart-items");
                            var throbber = cnt.data('throbber');
                            if (!throbber) {
                            throbber = cnt.throbber({ white: true, small: true, message: '', show: false, speed: 0 }).data('throbber');
                            }

                            throbber.show();
                        }
                        function hideThrobber () {
                            var cnt = $("#cart-items");
                            _.delay(function () {
                            if (cnt.data("throbber"))
                                cnt.data("throbber").hide();
                            }, 100);
                        }
                        })*/
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
