@{
    ViewData["Title"] = "Home Page";
}
@using improweb2022_02.Models;
@using Microsoft.AspNetCore.Http.Extensions

<div id="content-wrapper">
    <section id="content" class="container">
        <div class="row">
            <!-- #region BreadCrump -->
            <div class="breadcrumb-container d-none d-md-flex flex-wrap align-items-center mb-4 border_">
                <ol class="breadcrumb mb-0 border_" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a asp-controller="home" asp-action="index" title="Top" itemprop="item">
                            <meta itemprop="name" content="Home page" />
                            <meta itemprop="position" content="1" />
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                </ol>
                <div class="breadcrumb-item active border_">
                    <span>Terms & Conditions</span>
                </div>
            </div>
            <!-- #endregion -->
        </div>
        <div id="content-body" class="row">
            <div id="content-center" class="col-lg-12 border_">
                <div class="page contact-page border_">
                    <div class="page-title border_">
                        <h1 class="h2">Terms & Conditions</h1>
                    </div>
                    <div class="page-body">
                        <div class="row">
                            <p class="border_">This E-Commerce Online Retail Store website Happy Monkey is operated by Happy Monkey, Throughout this site the terms "we", "us", "company" and "our" refer to our trading name Happy Monkey or our website Happy Monkey All the information, tools and services available that is offered to "You" , the "User" "Customer" or "Visitor" on condition of your acceptance of all terms, conditions, policies and notices stated here.These Terms and Conditions of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, visitors, merchants, and/ or contributors of content.</p> 
                            <h4 class="border_">Detailed Description Of Goods And / Or Services</h4> 
                            <p class="border_">We are an E-commerce Online Retail Store with a wide range of local and International products and goods for sale across numerous categories such as Digital Lifestyle Products, Computer Hardware, Software, Peripherals and Electronics , a comprehensive range of Home and Small Kitchen Appliances, DIY Home Improvement Products as well as Office And Home Stationery Products and Accessories in partnership with reputable suppliers that share our values for excellence, efficiency and affordability.</p> 
                            <p class="border_">By visiting our site and/ or purchasing something from us, you engage in our "Service" and agree to be bound by the following terms and conditions including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These terms, conditions apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.</p> 
                            <ul class="fa-ul" style="color: highlight;"> 
                                <li class="border_">1. Terms Of Use Of The Happy Monkey Website</li> 
                                <li class="border_">2. Terms Of Trade With Happy Monkey And Invitation To Do Business With Us And Our Responsibility</li> 
                                <li class="border_">3. Accuracy, Completeness of Information Of Products , Goods And / Or Services</li> 
                                <li class="border_">4. Pricing Of Products , Goods And / Or Services</li> 
                                <li class="border_">5. Mispriced or Erroneous Pricing Of Products , Goods And / Or Services</li> 
                                <li class="border_">6. Discovery of a Mispriced or Erroneous Pricing Of Products , Goods And / Or Services</li> 
                                <li class="border_">7. Shipping and Delivery Policy</li> 
                                <li class="border_">8. Back Orders If there is no Stock Available</li> 
                                <li class="border_">9. General Warranty /Exchanges/Replacements/Policy</li> 
                                <li class="border_">10. Refunds Claims (if applicable)</li> 
                                <li class="border_">11. Payment Options Accepted</li> 
                                <li class="border_">12. Card Acquiring And Security</li> 
                                <li class="border_">13. Disclaimer Of Warranties And Limitation Of Liability</li> 
                                <li class="border_">14. Company Information</li> 
                                <li class="border_">15. Company Contact Details</li> 
                            </ul> 
                            <button class="accordion border_"><strong>1. General Terms And Conditions Of A Sale And Use Of The Happy Monkey Online Retail Store Website and Variation</strong></button> 
                            <div class="panel ac"> 
                                <p class="border_">Welcome to our E-Commerce Online Retail Store website Happy Monkey, We are pleased to provide you with the goods and services described below that are subjected to our general terms and conditions of ordering of products, goods and services ,sale, delivery of these products and goods, and the use of this E-Commerce Online Retail Store website.</p> 
                                <p class="border_">Happy Monkey and its affiliates (suppliers and service providers) provide their services to you subject to the conditions detailed in this agreement. By registering on our E-Commerce Online Retail Store Happy Monkey website and to shop on Happy Monkey you confirm that you have familiarised yourself with our agreement of sale and the terms and conditions set out and that you agree to be bound by these terms and conditions.</p> 
                                <p class="border_">We may from time to time change this agreement or update our terms and conditions or any part thereof at any time without notice at our sole discretion . It is your responsibility to regularly visit this page and make sure that you are satisfied with the changes.<br> <strong><em><span style="font-size: 8pt;">(This Information been updated on 13th October 2021 03:51 PM)</span></em></strong></p> 
                                <p class="border_"><strong>You must <em>not use</em> this Website if you do not agree to the Terms and Conditions.</strong></p> 
                                <p class="border_">Happy Monkey grants you a limited license to access and make personal use of the Happy Monkey website. You are not allowed to modify (other than page caching) the website or any portion thereof without the prior written consent of Happy Monkey.</p> 
                                <p class="border_">This license does not permit any resale or commercial use of the Happy Monkey website or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of the Happy Monkey website or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools.</p> 
                                <p class="border_">You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of the Happy Monkey website so long as the link does not portray Happy Monkey , its affiliates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter.</p> <p class="border_">You may not use any Happy Monkey logo or other proprietary graphic or trademark, or those of their affiliates, as part of the link without prior written permission of the owner of the graphic or trademark.</p> 
                                <p class="border_">Happy Monkey may provide links from or to other websites which may offer services to you but is not responsible for evaluating the content or offerings made on these websites.</p> 
                            </div> 
                            <button class="accordion border_"><strong>2. Terms Of Trade With Happy Monkey and Invitation To Do Business With Us And Our Responsibility</strong></button> 
                            <div class="panel ac"> 
                                <p class="border_">We Invite you to visit and register our E-Commerce Online Retail Store website Happy Monkey to shop online for an extensive range of products across numerous categories such as Digital Lifestyle Products, Computer Hardware, Software, Peripherals and Electronics as well as a comprehensive range of Home and Small Kitchen Appliances, DIY Home Improvement and much more, Only when we have accepted your offer to purchase and the acceptance is communicated to you, will an enforceable agreement of sale be transacted. We take full responsibility for all aspects relating to the transactions including sale of products, goods and services sold on this E-Commerce Online Retail Store website, customer service and support, dispute resolution and the delivery of products , goods. We however reserve the right to cancel orders at our sole discretion. The products, goods offered for sale are currently available to South African clients only. If you are under 18, you may use this site only with an involvement or supervision of a parent or legal guardian.</p> 
                                <h4 class="border_">No Hidden Fees Or Buying Obligations</h4> 
                                <p class="border_">There are no hidden fees for registering, or for having an account on this E-Commerce Online Retail Store Website and there is no buying obligations – You may order what you want and when you want</p> 
                            </div> 
                            <button class="accordion border_"><strong>3. Accuracy, Completeness of Information Of Products , Goods And / Or Services</strong></button> 
                            <div class="panel ac"> 
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>The information on Products , Goods And / Or Services on this site Happy Monkey is provided for general information only</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We are not responsible if information made available on this site is not accurate, complete or current</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Any reliance on the information on Products , Goods And / Or Services on this site is at your own risk.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We suggest that you do research on the internet to source more accurate price indications or more complete information on the item you want to purchase</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Every effort has been made to display as accurately as possible the colours and images of our products that appear on this E-Commerce Online Retail Store Website Happy Monkey.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We cannot guarantee that your computer monitor's display of any colour will be accurate.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>All descriptions of Products , Goods And / Or Services or pricing are subject to change at any time without notice.</li> 
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>4. Pricing Of Products , Goods And / Or Services</strong></button> 
                            <div class="panel ac"> 
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>The pricing displayed our E-Commerce Online Retail Store website Happy Monkey is payable in South African Rand (ZAR) and is inclusive of Value Added Tax (VAT).</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Delivery costs are charged separately on check out and do not form part of the product price displayed.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Products , Goods And / Or Services on our website are sourced from all over the world and pricing will fluctuate with exchange rates and subject to change without prior notice.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We reserve the right at any time to discontinue Products , Goods And / Or Services the Service (or any part or content thereof) without notice at any time.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We reserve the right to limit the quantities of any products or services that we offer.</li> 
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>5. Mispriced or Erroneous Pricing Of Products , Goods And / Or Services</strong></button> 
                            <div class="panel ac"> 
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We offer several thousand of products for sale at any time and it is almost impossible for us to monitor all the prices of all these products manually.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Despite our best efforts products , goods or services offered on the website may be sometimes be mispriced.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We are reliant on our suppliers for providing accurate pricing information and as a result it is possible that erroneous prices may be displayed from time to time.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We shall not be obliged to sell the product at the erroneous price, and will correct erroneous prices as soon as we become aware of them.</li> 
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>6. Discovery of a mispriced or erroneous pricing of products , goods and / or services</strong></button> 
                            <div class="panel ac"> 
                                <p class="border_">In the event a product or services is listed at an incorrect, misprice or erroneous price due to typographical error or error in pricing information received from our suppliers, We will do one of the following to remedy the situation</p>
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>If the correct price is lower than our stated price, we will charge the lower amount.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>If the correct price is higher than our stated price, we contact you for instructions before accepting your order and notify you that the order has not been accepted.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We may also cancel all or a portion of your order and fully refund any advance payments that you have made toward the affected products</li> 
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>7. Shipping and Delivery Policy</strong></button> 
                            <div class="panel ac"> 
                                <ul class="fa-ul"> <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Our E-commerce Online Retail Store website Happy Monkey has a fully integrated courier system.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Costing of delivery and delivery options are built into the e-commerce website and calculated at real time.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>The cost of delivery is provided during Check Out and is based on your order size, weight, and delivery address.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Delivery charge varies with each transaction due to geographic location and your shipping destination.</li>
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Orders will not be shipped until the funds have cleared in our account.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Delivery times are influenced by receipt of payment , product availability, and the courier partner's time-to-deliver in your location.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Average time for delivery is normally around 3- 7 working days and may be slightly longer in regional towns and cities and it is subject to stock availability.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Some area's regarded as “ No Go” areas may carry surcharges or require special arrangements.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Times for collection from the courier companies are between 8:00AM and 4:00PM Monday to Friday (excluding public holidays).</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We recommend having your products, goods delivered to an address where it is most likely to have someone available to check and sign for the delivery.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Please do NOT use a P.O. Box or Postnet Suite as your delivery address.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Please note, it is not always possible for the courier company to call you before delivering your products and goods.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Ensure the correct postal code is used when adding your shipping details.</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Collection of your products, goods from our warehouses or collection points are free of charge</li> 
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>8. Back Orders If there is no Stock Available</strong></button> 
                            <div class="panel ac"> 
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Our E-Commerce Online Retail Store website Happy Monkey prices and products , goods and / or services stock levels are based on information from our suppliers</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Should any item not be in stock you may place that item(s) on backorder if they are still available from our suppliers or the manufactures</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Items placed on back order are shipped as soon as they become available from the supplier or manufacturer</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We may even suggest substitute item(s) to fulfil your order</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>you may accept the substitute or place the item(s) provided it is still available on backorder or cancel the item(s) from your order</li> 
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>9. General Warranty Exchanges/Replacements</strong></button> 
                            <div class="panel ac"> 
                                <p class="border_">We want you to be happy with your purchase. Should any products that you have purchased be the subject of any manufacturing defect or failure as contemplated in the Consumer Protection Act, 2008 (“CPA”),You need to notify us immediately within 7 days so that you can return the products , goods to us to either repair, exchange or replace the item(s)subjected to the terms below. </p> 
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>All products sold on Happy Monkey website shall be free from defect in materials and workmanship for a period of one (1) year from the date of purchase.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Some products, goods may have longer manufacturer warranties, and we will honour these warranties as well.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Products, goods must be used as recommended by the manufacturer under normal uses and conditions.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Should a product, good you received not be functioning or is a DOA (Dead on Arrival) at the time of delivery or collection, Please notify us within 7 days. <br> </li>
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Log a return on the RMA Application section on the website.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Collection of the product will be arranged no charge. And must be at original address where the products, goods was delivered.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We reserve the right to examine the product and test the product to confirm the alleged defect or failure.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Once we have inspected the product and the return has been validated we will replace the product provided we have stock of the same item purchased.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Shipping of the repaired, exchanged or replaced products, goods will be shipped back to the original address where it was initially delivered at no charge within 7-14 working days.</li> 
                                </ul> 
                                <h4>The following will not be regarded as defects and will not qualify as a return:</h4> 
                                <ul class="fa-ul"> <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Faults or damage as a result of normal and acceptable wear and tear</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Faults or damage as a result of incorrect or improper use</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Failure to adequately care for the product</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Faults or damage owing to unauthorized alterations</li> 
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>10. Refunds Claims (If Applicable)</strong></button> 
                            <div class="panel ac"> 
                                <p class="border_"><em>If you change your mind and wish to return the products, goods you purchased online on this e-commerce online retail store website you can do so on the following terms and conditions:</em></p> 
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>You have up to 7 days from the day you received your order to return it without penalty</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>The product, goods need to be in unused condition and in their original sealed packaging.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>All returned items are subject to inspection to ensure they are suitable for a refund.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>You will be responsible for paying for your own shipping costs for returning any products, goods.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Once your return is received and inspected, we will notify you that we have received your returned item.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We will also notify you of the approval or rejection of your refund claim.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>If your refund is approved, then your refund will be processed on the original method of payment.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Credit will be applied to your credit card if that was your method of payment.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We may ask you for your bank details if your method of payment was by Electronic Funds Transfer (EFT).</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Refunds Claims may take up to 7 working days to process.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Cost of delivery are non-refundable.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>After 7 days, you can only return a product if it is defective.</li> 
                                </ul> 
                                <p class="border_"><strong>We are committed to operating in accordance with the Consumer Protection Act 68 of 2008 (CPA)and all policies are subject to the applicable law</strong></p> 
                                <p class="border_"><strong>For more information on the Consumer Protection Act (CPA) visit the CPA website </strong><a href="https://www.gov.za/documents/consumer-protection-act">https://www.gov.za/documents/consumer-protection-act</a></p> 
                            </div> 
                            <button class="accordion border_"><strong>11. Payment Options Accepted</strong></button> 
                            <div class="panel ac"> 
                                <p class="border_">For your convenience, we have provided a variety of different payment methods which are available at the checkout process.</p> 
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Payment may be made via Credit card but restricted to Visa and MasterCard.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Electronic Funds Transfers (EFT) directly into our bank account-Bank Details are provided at the Checkout process</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Mobicred if this option is available</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Cash on Delivery is not a payment option</li> 
                                    <li>           
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>12. Card Acquiring And Security</strong></button> 
                            <div class="panel ac"> 
                                <ul class="fa-ul"> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Card transactions will be acquired for Happy Monkey via PayGate (Pty) Ltd who are the approved payment gateway for all South African Acquiring Banks.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>PayGate uses the strictest form of encryption, namely Secure Socket Layer 3 (SSL3) and no Card details are stored on the website.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Visit <a href="http://www.paygate.co.za/">http://www.paygate.co.za/</a> to view their security certificate and security policy.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>We may require further authentication on credit card payments, which we will request from you after you have submitted your payment.</li> 
                                    <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Any subsequent cancellations will be refunded to the same credit card</li> 
                                </ul> 
                            </div> 
                            <button class="accordion border_"><strong>13. Disclaimer Of Warranties And Limitation Of Liability </strong></button> 
                            <div class="panel ac"> 
                                <p class="border_">This E-Commerce Online Retail Store website Happy Monkey is operated on an "as is" basis and makes no representations or warranties of any kind, express or implied, as to the operation of the site, the information, content, materials or products, included on this site. To the full extent permissible by applicable law, Happy Monkey disclaims all warranties, express or implied, including but not limited to, implied warranties of merchantability and fitness for a particular purpose. Happy Monkey and its directors, employees, suppliers or service providers will not be liable for any damages of any kind arising from the use of this site, including the accuracy of content or information, products, pricing, services but not limited to direct, indirect, incidental punitive and consequential damages.</p> 
                                <h4 class="border_">Applicable law</h4> 
                                <p class="border_">This E-Commerce Online Retail Store website and all communications and transactions concluded using the website, are governed by the laws of the Republic of South Africa. As this website is targeted at South African citizens and residents any limitations on implied warranties or the exclusion or limitation of certain damages which may be applicable under the laws of any other jurisdiction are expressly waived by you.</p> 
                                <h4 class="border_">Country of Domicile</h4> 
                                <p class="border_">This E-Commerce Online Retail Store website is governed by the laws of South Africa and Happy Monkey chooses it as the domicilium citandi et executandi for all purposes under this agreement.</p> 
                            </div> 
                            <button class="accordion border_"><strong>14. Company Information</strong></button> 
                            <div class="panel ac"> 
                            <ul class="fa-ul"> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>This E-Commerce Online Retail Store website is operated by Happy Monkey</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Trading as Happy Monkey</li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Company Registration number -Please Contact Us for Details </li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Vat Registration Number Please Contact Us for Details </li> 
                            </ul> 
                            </div> 
                            <button class="accordion border_"><strong>15. Company Contact Details</strong></button> 
                            <div class="panel ac"> 
                            <ul class="fa-ul"> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>
                                    @if(ViewBag.Organisations.OrgStreet1 != null){
                                        @ViewBag.Organisations.OrgStreet1<br>
                                    }
                                    @if(ViewBag.Organisations.OrgStreet2 != null){
                                        @ViewBag.Organisations.OrgStreet2<br> 
                                    }
                                    @if(ViewBag.Organisations.OrgStreet3 != null){
                                        @ViewBag.Organisations.OrgStreet3<br>
                                    }
                                    @if(ViewBag.Organisations.OrgStreet4 != null){
                                        @ViewBag.Organisations.OrgStreet4<br>
                                    }
                                    @if(ViewBag.Organisations.OrgStreet5 != null){
                                        @ViewBag.Organisations.OrgStreet5<br>
                                    }
                                    @ViewBag.Organisations.OrgProvince
                                </li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Email Address <a href="mailto:info@esquire.co.za">info@esquire.co.za</a></li> 
                                <li class="border_"><span class="fa-li"><em class="fa fa-reply-all"></em></span>Telephone: @ViewBag.Organisations.OrgTel1</li> 
                            </ul> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>