@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using improweb2022_02.Models;

<div id="content" class="container">
    <div class="row">
        <!-- #region BreadCrump -->
        <div class="breadcrumb-container d-none d-md-flex flex-wrap align-items-center mb-4 border_">
            <ol class="breadcrumb mb-0 border_" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a asp-controller="home" asp-action="index" title="Top" itemprop="item">
                        <meta itemprop="name" content="Home page" />
                        <meta itemprop="position" content="1" />
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a asp-controller="customer" asp-action="dashboard" title="Dashboard" itemprop="item">
                        <meta itemprop="position" content="2"><span itemprop="name" dir="auto">Dashboard</span>
                    </a>
                </li>
            </ol>
            <div class="breadcrumb-item active border_">
                <span>WishList</span>
            </div>
        </div>
        <!-- #endregion -->
    </div>
    <div id="content-body" class="row">
        @await Component.InvokeAsync("DashboardSideBar")
        <!-- #endregion -->
        <!-- #region Content Center -->
        <div id="content-center" class="col-lg-9">
            <div class="page category-page">
                <div class="page-title">
                    <p class="border_">
                        WISHLIST ITEMS
                    </p>
                </div>
                <div class="page-body">
                    @if (ViewBag.wishlists.Count > 0){
                    <table id="CategoryTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>WishlistID</th>
                                <th>Creation Date</th>
                                <th>Customer</th>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Price(When Added)</th>
                                <th>Stock</th>
                                <th>Organisation Branch</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in ViewBag.wishlists)
                                {
                                    <tr>
                                        <td>@item.WishID</td>
                                        <td>@item.CreationDate.ToString("MM/dd/yyyy")</td>
                                        <td>@item.Customer.FirstName @item.Customer.Surname (@item.Customer.Email)</td>
                                        <td>@item.Product.ProductCode</td>
                                        <td>@item.Product.Description</td>
                                        <td>
                                            @item.Price (When added to wishlist)<br>
                                            @item.Product.PurchasePrice (Now)
                                        </td>
                                        <td>@item.Stock</td>
                                        <td>@item.OrgBranchID</td>
                                        <td>
                                            <a asp-controller="product" asp-action="details" asp-route-id="@item.ProdID">Product Details</a>
                                        </td>
                                    </tr> 
                                
                                }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>WishlistID</th>
                                <th>Creation Date</th>
                                <th>Customer</th>
                                <th>Product</th>
                                <th>Description</th>
                                <th>Price(When Added)</th>
                                <th>Stock</th>
                                <th>Organisation Branch</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    }else{
                    <div class="product-list-container">
                        WISHLIST IS EMPTY!
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
